{{- if .Values.minio.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: artifact-repositories
  annotations:
    workflows.argoproj.io/default-artifact-repository: default
data:
  default: |
    s3:
      bucket: argo-artifacts
      endpoint: minio.{{ .Release.Namespace }}.svc.cluster.local:80
      insecure: true
      accessKeySecret:
        name: argo-minio-credentials
        key: accesskey
      secretKeySecret:
        name: argo-minio-credentials
        key: secretkey
{{- end }}
